body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.limit-text {
    width: 65%; /* 칼럼의 최대 너비 설정 */
    min-width: 100px;
    max-width: 100px;
    white-space: nowrap; /* 텍스트를 한 줄로 제한 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 생략 부호(...) 표시
}